{% extends 'base.html' %}
{% block title %}
Edit Page
{% endblock %}

{% block content %}

<body class="text-center">
  <div class="container">

    <form method="POST">
      {{ form.hidden_tag() }}
      <img class="mb-4" src="" alt="">
      <h1 class="h3 mb-3 font-weight-normal">
        Review Post
      </h1>

      <br>
      <div class="review">
        {{ form.review.label() }}
        {{ form.review(class="form-control") }}
        <br>
        {{ form.submit(class="btn btn-outline-primary btn-custom") }}
      </div>
    </form>

  </div>
</body>

<style>
.btn-custom {
    width: 25%;
}

.form-control {
    border: 0;
    resize: none;
    overflow:hidden;
    width: 50%;
    margin-left: 25%;
    height: 40em;
    color:white;
}

.review {
    height: 40em;
}

.form-control:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: scroll;
    overflow-x: hidden;
    height: 75%;
    scrollbar-width: none;
}
</style>
{% endblock %}