{% extends 'base.html' %}
{% block title %}
Login Page
{% endblock %}

{% block content %}
<body class="text-center">
<div class="container">

  <form method="POST" class="form-login">

    {{ form.hidden_tag() }}
    <h1>
      Sign in to your account
    </h1>
    <br>
    {{ form.username.label() }}
    {{ form.username(class="form-control", placeholder="User Name") }}

    {{ form.password.label() }}
    {{ form.password(class="form-control", placeholder="Password") }}

    <br>

    {{ form.submit(class="btn btn-success") }}
    <br>
    <br>
    <div>
      <h6>Do not have an account?</h6>
      <a class="btn btn-danger" href="{{ url_for('account.register_page') }}">Register</a>
    </div>
  </form>
</div>
</body>
<style>

.container {
    justify-content: center;
    align-items: center;
}

.btn {
width: 25%;
}


.form-control {
border: 0;
resize: none;
overflow:hidden;
width: 50%;
margin-left: 25%;
}

.form-control:focus{
-webkit-box-shadow: none;
box-shadow: none;
overflow:hidden;
}
</style>
{% endblock %}